[bumpversion]
files = Cargo.toml README.md openwrt/aliyundrive-webdav/Makefile openwrt/luci-app-aliyundrive-webdav/Makefile merlin/config.json.js merlin/aliyundrivewebdav/install.sh
commit = False
tag = False
current_version = 0.1.19
